<div class="container">
   <h1>New Post</h1>
   <%= form_with url: new_user_post_path , model: @post do |form| %>

   <%= form.label :title , class:"form-label"%>
   <%= form.text_field :title, class:"form-control" %>

   <%= form.label :text, class:"form-label" %>
   <%= form.text_area :text, class:"form-control" %>
   <br>
   <%= form.submit "Post"  ,class:" btn btn-success"%>
   <% end %>

</div>
