<br><br><div class="container">
   <h2>Edited post</h2>
   <%= form_with url: edit_user_post_path , model: @post do |form| %>

   <%= form.label :title , class:"form-label"%>
   <%= form.text_field :title, class:"form-control" %>

   <%= form.label :text, class:"form-label" %>
   <%= form.text_area :text, class:"form-control" %>
   <br>
   <%= form.submit "Update"  ,class:" btn btn-success"%>
   <% end %>
   <br><br>
   <%= link_to "Back" , user_path(@user), class:"btn btn-primary" %>

</div>
