
<br><br>
<div class="container">
 <h1 align="center">All posts for  <%=@user.name%></h1>
 <br><br>
    <div class="card card-body ">      
    <% @posts.each do |post|%>
    <h4 class="card-title">#<%=post.id%>.<%= post.title%></h4>
    <p class="card-text"><%= post.text%> .</p>
    <% end %>

    </div>
    <br>
    <%= link_to "Create new post" , new_post_path, class:"btn btn-success" %>
    <%= link_to "Back" , user_path(@user), class:"btn btn-primary" %>
</div>
<br><br>
